body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-icon {
  font-size: 35px;
  line-height: 1;
  color: #171a1f;
  transform: rotate(45deg);
}

.circle:hover {
  background-color: #90949a;
}

.hover2::-webkit-scrollbar {
  width: 10px;
}

.hover2::-webkit-scrollbar-thumb {
  background: #888;
}

.hover2::-webkit-scrollbar-thumb:hover {
  background: #555;
}
